.flex-container {
  display: flex;
  justify-content: center;
}

.searchBox {
  border: 1px solid grey;
  border-radius: 20px;
  height: 50px;
  width: 50%;
  padding: 2px 23px 2px 30px;
  background-color: #f3f3f3;
}