:root {
  --title-color: hsl(240, 53%, 15%);
}

.city-name {
  grid-area: city-name;
  align-self: stretch;
  font-size: 2rem;
  font-weight: 300;
  color: var(--title-color);
}

.time {
  grid-area: time;
  font-size: 4rem;
  font-weight: 300;
  color: var(--title-color);
}

.date {
  grid-area: date;
  font-size: 1rem;
  font-weight: 400;
}

.outside-container {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto;
  grid-template-areas:
    '. city-name .'
    '.    time   .'
    '.    date   .';
  justify-items: center;
  row-gap: 15px;
}

.hour {
  grid-area: hour;
  justify-self: end;
}

.minute {
  grid-area: minute;
}

.ampm {
  grid-area: ampm;
  font-size: .8rem;
  color: var(--title-color);
  font-weight: 600;
  justify-self: start;
}

.inside-container-time {
  display: inline-grid;
  grid-template-columns: 10% 1fr 1fr auto;
  grid-template-areas: '. hour minute ampm';
}

.inside-container-name {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  column-gap: 10px;
}

.city-name-button {
  border: none;
  background: none;
  padding: 0;
}